{% extends "base.html" %}
{% load static %}

{% block titulo %}Medicamentos{%endblock%}

{% block nav_medicamentos %}active{% endblock %}

{% block breadcrumb %}
    <a href="{% url 'dashboard' %}">Inicio</a>
    <span class="material-symbols-outlined">chevron_right</span>
    <span class="breadcrumb-current">Medicamentos</span>
    
{% endblock %}

{% block topbar_titulo %}Lista de Medicamentos{% endblock %}

{% block contenido %}

    <div class="page active" id="page-medicamentos">
        <div class="page-header">
            <div>
                <h1 class="page-title">Medicamentos</h1>
                <p class="page-sub">Medicamentos en el Sistema</p>
            </div>
            <div class="page-header-right">
                <button class="btn-primary" id="btnNuevaMascota">
                    <span class="material-symbols-outlined">add_circle</span>
                    Nuevo Medicamento
                </button>
            </div>
        </div>
        
        <!-- AQUI INICIA LA TABLA -->
        <div class="card">

            <div class="filters-bar">
            <form method="GET">
                <div class="search-box">
                    <span class="material-symbols-outlined style="color: #7a8899"">search</span>
                    <input 
                        type="text" 
                        name="q"
                        value="{{ query|default:'' }}"
                        placeholder="Buscar por nombre o clave..."
                    >
                </div>
            </form>
        </div>

            <div class="table-wrapper">
                <table class="data-table">
                    <thead>
                        <tr>
                            <th>CLAVE</th>
                            <th>MEDICAMENTO</th> 
                            <th>PRECIO</th>
                            <th>ACCIONES</th>
                        </tr>
                    </thead>

<!--...............................................................................................................................................-->
                    <tbody id="catalogoBody">
                        {% for medicamento in medicamentos %}
                        <tr>

                            <!-- CLAVE -->
                            <td>
                                <code class="med-key">{{ medicamento.clave }}</code>
                            </td>

                            <!-- NOMBRE + DESCRIPCIÓN -->
                            <td>
                                <div class="med-cell">
                                    <div>
                                        <span class="med-name">{{ medicamento.nombre }}</span>
                                        <small class="med-desc">{{ medicamento.descripcion }}</small>
                                    </div>  
                                </div>
                            </td>

                            <!-- COSTO -->
                            <td>
                                <span class="med-price">${{ medicamento.precio }}</span>
                            </td>

                            <!-- DETALLES -->
                            <td><div><a href="#" class="link-green">Ver Detalles</a></div></td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="5">No hay medicamentos registrados</td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
            
            <div class="table-footer">
            
                <div class="pagination">

                    {% if medicamentos.has_previous %}
                        <a href="?page={{ medicamentos.previous_page_number }}" class="page-btn">‹</a>
                    {% endif %}

                    <span class="page-btn active">
                        {{ medicamentos.number }}
                    </span>

                    {% if medicamentos.has_next %}
                        <a href="?page={{ medicamentos.next_page_number }}" class="page-btn">›</a>
                    {% endif %}

                </div>
            </div>

    </div>

{% endblock %}