{% extends "base.html" %}
{% load static %}

{% block titulo %}Especies{%endblock%}

{% block nav_especies %}active{% endblock %}

{% block breadcrumb %}
    <a href="{% url 'dashboard' %}">Inicio</a>
    <span class="material-symbols-outlined">chevron_right</span>
    <span class="breadcrumb-current">Especies</span>
    
{% endblock %}

{% block topbar_titulo %}Lista de Especies Animales{% endblock %}

{% block contenido %}

    <div class="page active" id="page-especies">
        <div class="page-header">
            <div>
                <h1 class="page-title">Gestion de Especies Animales</h1>
                <p class="page-sub">Administra la informacion de las Especies del sistema</p>
            </div>
            <div class="page-header-right">
                <button class="btn-primary" id="btnNuevaEspecie">
                    <span class="material-symbols-outlined">add_circle</span>
                    Nueva Especie
                </button>
            </div>
        </div>

        <!-- STATS -->
        <div class="stats-grid">
          <div class="stat-card blue">
            <span class="stat-icon material-symbols-outlined">pet_supplies</span>
            <div class="stat-body">
              <p class="stat-label">Total de Especies</p>
              <p class="stat-value">{{ total_especies }}</p>
            </div>
          </div>

          
          <div class="stat-card green">
            <span class="stat-icon material-symbols-outlined">pets</span>
            <div class="stat-body">
              <p class="stat-label">Especie con más mascotas</p>
                {% if especie_top %}
                <p class="stat-value">{{ especie_top.nombre }}</p>
                <p class="stat-sub">{{ especie_top.total_mascotas }} mascotas registradas</p>
                {% endif %}
            </div>
          </div>
        </div>

        <!-- TABLA -->
        <div class="card">
            <div class="filters-bar">
                <div class="search-box">
                    <span class="material-symbols-outlined">search</span>
                    <input type="text" id="especieSearch" placeholder="Buscar por nombre...">
                </div>

                <div class="filters-right">
                    <select class="filter-select" id="filterAlgo">    <!-- ID PENDIENTE -->
                        <option value="">FiltroDeNoSeQue</option>
                        <option value="">holis</option>
                    </select>
                </div>
            </div>

            <div class="table-wrapper">
                <table class="data-table" id="especiesTable">
                    <thead>
                        <tr>
                            <th>CLAVE</th>
                            <th>NOMBRE</th>
                            <th>MASCOTAS REGISTRADAS</th>
                            <th>RAZAS</th>
                            <th>ACCIONES</th>
                        </tr>
                    </thead>
                    <tbody id="especiesBody">  
                    {% for especie in especies %} 
                        <tr>
                            <td><strong>{{ especie.clave }}</strong></td>
                            <td>{{ especie.nombre }}</td>
                            <td>{{ especie.total_mascotas }}</td>
                            <td>
                                <div class="badge badge-confirmada">
                                    <strong>{{ especie.total_razas }}</strong>
                                </div>
                            </td>
                            <td><a href="{% url 'razas' especie.clave %}" class="link-green">Ver Detalles</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- MODAL -->
     <div class="modal-overlay" id="modalNuevaEspecie">
        <div class="modal">
            <div class="modal-header">
                <h2>Registrar Nueva Especie</h2>
                <button class="modal-close" id="btnCerrarModal" type="button">
                    <span class="material-symbols-outlined">close</span>
                </button>
            </div>

            <form id="formNuevaEspecie">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="form-group">
                        <label for="nombre">Clave (auto-generada)</label>
                        <input class= "folio-input"type="text" id="clave" name="clave" placeholder="Ej. Esp-001" required readonly tabindex="-1">
                    </div>

                    <div class="form-group form-field">
                        <label for="precio">Nombre de la Especie</label>
                        <input type="text" id="nombre" name="nombre" placeholder="Ej. Canino, Reptil..." required>
                    </div>
                </div> 
                <div class="modal-footer">
                    <button type="button" class="btn-cancelar" id="btnCancelar">Cancelar</button>
                    <button type="submit" class="btn-primary">
                        <span class="material-symbols-outlined">save</span> Agregar Especie
                    </button>
                </div>
            </form>
        </div>
     </div>

{% endblock %}

{% block scripts %}
    <script src="{% static 'core/js/especies.js' %}"></script>
{% endblock %}