{% extends 'base.html' %}
{% load static %}

{% block titulo %}Consultas{%endblock%}

{% block nav_consultas %}active{% endblock %}

{% block breadcrumb %}
    <a href="{% url 'dashboard' %}">Inicio</a>
    <span class="material-symbols-outlined">chevron_right</span>
    <span class="breadcrumb-current">Consultas</span>
    
{% endblock %}

{% block topbar_titulo %}Lista de Consultas{% endblock %}

{% block contenido %}

    <div class="page active" id="page-consultas">
        <div class="page-header">
            <div>
                <h1 class="page-title">Consultas</h1>
                <p class="page-sub">Gestión de consultas medicas</p>
            </div>

            <div class="page-header-right">
                <button class="btn-primary" id="btnIniciarConsulta">
                    <span class="material-symbols-outlined">add_circle</span>
                    Iniciar Consulta
                </button>
            </div>
        </div>

        <div class="card">
            <div class="filters-bar">
                <div class="search-box">
                    <span class="material-symbols-outlined">search</span>
                    <input type="text" placeholder="Buscar por folio, mascota, propietario..." id="consultasSearch" />
                </div>

                <div class="filters-right">
                
                <select class="filter-select" id="filterEstado"> <!-- pendiente -->
                    <option value="">Todos los estados</option>
                    <option value="Confirmada">Confirmada</option>
                    <option value="En curso">En curso</option>
                    <option value="Pendiente">Pendiente</option>
                    <option value="Cancelada">Cancelada</option>
                    <option value="Completada">Completada</option>
                </select>
                </div>

            </div>

            <div class="table-wrapper">
                <table class="data-table" id="consultasTable">
                    <thead>
                        <tr>
                            <th>NUMERO</th>
                            <th>FECHA</th>
                            <th>MASCOTA</th>
                            <th>PROPIETARIO</th>
                            <th>MOTIVO</th>
                            <th>ACCIONES</th>
                        </tr>
                    </thead>
                    <tbody id="consultasBody">
                        {% for consulta in consultas %}
                        <tr>
                            <td><strong>#{{ consulta.numero|stringformat:"04d" }}</strong></td>
                            <td>
                                <div class="fecha-cell">
                                    <span class="fecha-dia">{{ consulta.cita.fecha|date:"M d, Y" }}</span>
                                    <span class="fecha-hora">
                                        <span class="material-symbols-outlined">schedule</span>
                                        {{ consulta.cita.hora|date:"H:i" }}
                                    </span>
                                </div>
                            </td>
                            <td>
                                <div class="mascota-cell">
                                    <div class="mascota-avatar"><span class="material-symbols-outlined">pets</span></div>
                                    <div>
                                        <span class="mascota-nombre">{{ consulta.cita.mascota.nombre }}</span>
                                        <span class="mascota-raza">{{ consulta.cita.mascota.raza.nombre }} • {{ consulta.cita.mascota.raza.especie.nombre }}</span>

                                    </div>
                                </div>
                            </td>
                            <td>{{ consulta.cita.mascota.propietario.nombrepila }} {{ consulta.cita.mascota.propietario.primerapellido }}</td>
                            <td><span class="motivo-text">{{ consulta.cita.motivo }}</span></td>
                            <td><a href="{% url 'iniciar_consulta' %}" class="link-green">Ver Detalles</a></td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="6">No hay citas registradas</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>

            <div class="table-footer">

            <span>Mostrando <strong>{{ consultas.start_index }}-{{ consultas.end_index }}</strong> de <strong>{{ total_conteo }}</strong> consultas</span>
            <!-- Controles -->
            <div class="pagination">
                <!-- boton anterior -->
                {% if consultas.has_previous %}
                    <a href="?page={{ consultas.previous_page_number }}{% if query %}&q={{ query }}{% endif %}"
                        class="page-btn">‹</a>
                {% else %}
                    <button class="page-btn" disabled>‹</button>
                {% endif %}
                    
                <!-- numeros de pagina -->
                {% for num in consultas.paginator.page_range %}
                    {% if consultas.number == num %}
                        <button class="page-btn active">{{ num }}</button>
                    {% elif num >= consultas.number|add:"-2" and num <= consultas.number|add:"2"  %}
                        <a href="?page={{ num }}{% if query %}&q={{ query }}{% endif %}"
                            class="page-btn">{{ num }}</a>
                    {% endif %}
                {% endfor %}

                <!-- boton siguiente -->
                {% if consultas.has_next %}
                    <a href="?page={{ consulta.next_page_number }}{% if query %}&q={{ query }}{% endif %}" 
                        class="page-btn">›</a>
                {% else %}
                    <button class="page-btn" disabled>›</button>
                {% endif %}
                
            </div>
        </div>

        </div>

    </div>

    <div class="modal-overlay" id="modalIniciarConsulta">
        <div class="modal">
            <div class="modal-header">
                <h2>Iniciar Consulta</h2>
                <button class="modal-close" id="btnCerrarConsulta">
                    <span class="material-symbols-outlined">close</span>
                </button>
            </div>

            <div class="modal-body">

                <!-- INPUT CON SUGERENCIAS -->
                <div class="form-group">
                    <label>Clave de la Cita</label>
                    <div class="autocomplete-wrapper">
                        <input 
                            type="text" 
                            id="inputCita" 
                            placeholder="Ej. C-0001 o nombre de mascota..."
                            autocomplete="off"
                        >
                        <!-- Aquí aparecen las sugerencias -->
                        <div class="autocomplete-dropdown" id="citaDropdown"></div>
                    </div>
                </div>

                <!-- RESUMEN (oculto hasta seleccionar) -->
                <div class="resumen-cita" id="resumenCita" style="display:none;">
                    <h4>Resumen de la Cita</h4>
                    <div class="resumen-grid">
                        <div class="resumen-item">
                            <span class="resumen-label">Folio</span>
                            <span class="resumen-valor" id="r-folio"></span>
                        </div>
                        <div class="resumen-item">
                            <span class="resumen-label">Fecha y Hora</span>
                            <span class="resumen-valor" id="r-fecha"></span>
                        </div>
                        <div class="resumen-item">
                            <span class="resumen-label">Mascota</span>
                            <span class="resumen-valor" id="r-mascota"></span>
                        </div>
                        <div class="resumen-item">
                            <span class="resumen-label">Propietario</span>
                            <span class="resumen-valor" id="r-propietario"></span>
                        </div>
                        <div class="resumen-item">
                            <span class="resumen-label">Veterinario</span>
                            <span class="resumen-valor" id="r-veterinario"></span>
                        </div>
                        <div class="resumen-item">
                            <span class="resumen-label">Motivo</span>
                            <span class="resumen-valor" id="r-motivo"></span>
                        </div>
                        <div class="resumen-item">
                            <span class="resumen-label">Estado</span>
                            <span class="resumen-valor" id="r-estado"></span>
                        </div>
                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn-cancelar" id="btnCancelarConsulta">Cancelar</button>
                <button type="button" class="btn-primary" id="btnConfirmarConsulta" disabled>
                    <span class="material-symbols-outlined">vaccines</span>
                    Iniciar Consulta
                </button>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script src="{% static 'core/js/consultas.js' %}"></script>
{% endblock %}