{% extends "base.html" %}
{% load static %}

{% block titulo %}Usuarios{%endblock%}

{% block nav_usuarios %}active{% endblock %}

{% block breadcrumb %}
    <a href="{% url 'dashboard' %}">Inicio</a>
    <span class="material-symbols-outlined">chevron_right</span>
    <span class="breadcrumb-current">Usuarios</span>
    
{% endblock %}

{% block topbar_titulo %}Lista de Usuarios{% endblock %}

{% block contenido %}

<!-- HEADER-->
    <div class="page active" id="page-usuario">
        <div class="page-header">
            <div>
                <h1 class="page-title">Usuarios en el Sistema</h1>
                <p class="page-sub">Gesion de Usuarios del Hospital</p>
            </div>

            <div class="page-header-right">
                <button class="btn-primary">
                    <span class="material-symbols-outlined">person_add</span>
                    Nuevo Usuario
                </button>
            </div>
        </div>
        <!-- FILTRO-->
        <div class="card">
            <div class="filters-bar">
                <form method="GET" action="">
                    <div class="search-box">
                        <span class="material-symbols-outlined">search</span>

                        <input 
                            type="text" 
                            name="q"
                            value="{{ query|default:'' }}"
                            placeholder="Buscar por clave o nombre..."
                            autocomplete="off"
                        >
                    </div>
                </form>
                <div class="filters-right">
                    <select class="filter-select" id="filterRol">   
                    <option value="">Todos los roles</option>
                    <option value="vet">Veterinario</option>
                    <option value="recep">Recepcionista</option>
                    <option value="admin">Administrador</option>
                  </select>
                    <select class="filter-select">
                    <option>Estado: Activo</option>
                    <option>Inactivo</option>
                    </select>
                </div>
            </div>


            <div class="table-wrapper">
                <table class="data-table" id="usuariosTable">
                    <thead>
                        <tr>
                            <th>USUARIO</th>
                            <th>ROL</th>
                            <th>ESTADO</th>
                            <th>ACCIONES</th>
                        </tr>
                    </thead>

<!--...............................................................................................................................................-->
                    <tbody id="usuariosBody">
                        {% for usuario in usuarios %}
                        
                        <tr>
                            <td>
                            <!-- USUARIO -->
                                <div class="user-cell">
                                    <div class="user-avatar-p" style="background-color: #e2c09c;">
                                        <span>
                                            {{ usuario.nombre_real|slice:":2"|upper }}
                                        </span>
                                    </div>

                                    <div class="user-info-text">
                                        <span class="user-name-table">
                                            {{ usuario.usuario }}
                                        </span>
                                        <span class="user-email-table">
                                            {{ usuario.nombre_real }}
                                        </span>

                                    </div>
                                </div>
                             </td>

                            <!-- ROL -->
                            <td>
                                <span class="badge-especie feline">
                                    {{ usuario.tipo.nombre }}
                                </span>
                            </td>
                            <!-- ESTADO  -->
                            <td>
                                <div class="status-cell">

                                    {% if usuario.estado.nombre|lower == "activo" %}
                                        <span class="status-dot status-active"></span>
                                        <span class="status-text">Active</span>

                                    {% else %}
                                        <span class="status-dot status-inactive"></span>
                                        <span class="status-text inactive">Inactive</span>
                                    {% endif %}

                                </div>
                            </td>

                            <!-- ACCIONES -->
                            <td>
                                <a href="#" class="link-green">Ver Acciones</a>
                            </td>
                        </tr>
                        {% endfor %}

                    </tbody>
<!--...............................................................................................................................................-->
                </table>
            </div>

            <div class="table-footer">
                <div class="pagination">

                    {% if usuarios.has_previous %}
                        <a href="?page={{ usuarios.previous_page_number }}" class="page-btn">‹</a>
                    {% endif %}

                    <span class="page-btn active">
                        {{ usuarios.number }}
                    </span>

                    {% if usuarios.has_next %}
                        <a href="?page={{ usuarios.next_page_number }}" class="page-btn">›</a>
                    {% endif %}

                </div>
              
        </div>
    </div>

    <!-- MODAL -->
    <div class="modal-overlay" id="modalNuevoUsuario">
        <div class="modal">
            <div class="modalHeader">
                <h2>Registrar Nuevo Usuario</h2>
                <button class="modal-close" id="btnCerrarModal">
                    <span class="material-symbols-outlined">close</span>
                </button>
            </div>

            <form id="formNuevoUsuario">
                {% csrf_token %}
                <div class="modal-body">

                </div>
            </form>

        </div>
    </div>

{% endblock %}