{% extends "base.html" %}
{% load static %}

{% block titulo %}Usuarios{%endblock%}

{% block nav_usuarios %}active{% endblock %}

{% block breadcrumb %}
    <a href="{% url 'dashboard' %}">Inicio</a>
    <span class="material-symbols-outlined">chevron_right</span>
    <span class="breadcrumb-current">Usuarios</span>
    
{% endblock %}

{% block topbar_titulo %}Lista de Usuarios{% endblock %}

{% block contenido %}

    <div class="page active" id="page-usuario">
        <div class="page-header">
            <div>
                <h1 class="page-title">Usuarios en el Sistema</h1>
                <p class="page-sub">Gesion de Usuarios del Hospital</p>
            </div>

            <div class="page-header-right">
                <button class="btn-primary">
                    <span class="material-symbols-outlined">person_add</span>
                    Nuevo Usuario
                </button>
            </div>
        </div>

        <div class="card">
            <div class="filters-bar">
                <div class="search-box">
                    <span class="material-symbols-outlined">search</span>
                    <input type="text" placeholder="Buscar por nombre, correo, o rol..." id="usuariosSearch" />
                </div>
                <div class="filters-right">
                    <select class="filter-select" id="filterRol">   
                    <option value="">Todos los roles</option>
                    <option value="vet">Veterinario</option>
                    <option value="recep">Recepcionista</option>
                    <option value="admin">Administrador</option>
                  </select>
                    <select class="filter-select">
                    <option>Estado: Activo</option>
                    <option>Inactivo</option>
                    </select>
                </div>
            </div>

            <div class="table-wrapper">
                <table class="data-table" id="usuariosTable">
                    <thead>
                        <tr>
                            <th>NOMBRE & CORREO</th>
                            <th>ROL</th>
                            <th>ESTADO</th>
                            <th>ULTIMO INICIO</th>
                            <th>ACCIONES</th>
                        </tr>
                    </thead>
                    <tbody id="usuariosBody">
                        <tr>
                            <td><div class="user-cell">
                                    <div class="user-avatar-p" style="background-color: #e2c09c;">
                                        <span>AS</span> 
                                        </div>
                                    <div class="user-info-text">
                                        <span class="user-name-table">Dr. Alejandro Sanz</span>
                                        <span class="user-email-table">alejandro.s@cadahuella.com</span>
                                    </div>
                                </div>
                            </td>
                            <td><span class="badge-especie feline">VETERINARIO</span></td>
                            <td>
                                <div class="status-cell">
                                    <span class="status-dot status-active"></span>
                                    <span class="status-text">Active</span>
                                </div>
                            </td>
                            <td>Hace 10 min</td>
                            <td><a href="#" class="link-green">Ver Perfil</a></td>
                        </tr>

                        <tr>
                            <td><div class="user-cell">
                                    <div class="user-avatar-p" style="background-color: #e2c09c;">
                                        <span>MG</span> 
                                        </div>
                                    <div class="user-info-text">
                                        <span class="user-name-table">Maria Garcia</span>
                                        <span class="user-email-table">m.garcia@cadahuella.com</span>
                                    </div>
                                </div>
                            </td>
                            <td><span class="badge-especie canine">ADMINISTRADOR</span></td>
                            <td><div class="status-cell">
                                    <span class="status-dot status-active"></span>
                                    <span class="status-text">Active</span>
                                </div></td>
                            <td>Hace 2 horas</td>
                            <td><a href="#" class="link-green">Ver Perfil</a></td>
                        </tr>

                        <tr>
                            <td><div class="user-cell">
                                    <div class="user-avatar-p" style="background-color: #e2c09c;">
                                        <span>LT</span> 
                                        </div>
                                    <div class="user-info-text">
                                        <span class="user-name-table">Lucia Torres</span>
                                        <span class="user-email-table">l.torres@cadahuella.com</span>
                                    </div>
                                </div>
                            </td>
                            <td><span class="badge-especie exotic">RECEPCIONISTA</span></td>
                            <td><div class="status-cell">
                                    <span class="status-dot status-active"></span>
                                    <span class="status-text">Active</span>
                                </div></td>
                            <td>Ayer, 18:45</td>
                            <td><a href="#" class="link-green">Ver Perfil</a></td>
                        </tr>

                        <tr>
                            <td><div class="user-cell">
                                    <div class="user-avatar-p" style="background-color: #e2c09c;">
                                        <span>RG</span> 
                                        </div>
                                    <div class="user-info-text">
                                        <span class="user-name-table">Roberto Gomez</span>
                                        <span class="user-email-table">r.gomez@cadahuella.com</span>
                                    </div>
                                </div>
                            </td>
                            <td><span class="badge-especie feline">VETERINARIO</span></td>
                            <td><div class="status-cell">
                                    <span class="status-dot status-inactive"></span>
                                    <span class="status-text inactive">Inactive</span>
                                </div></td>
                            <td>Hace 4 dias</td>
                            <td><a href="#" class="link-green">Ver Perfil</a></td>
                        </tr>

                    </tbody>
                </table>
            </div>

            <div class="table-footer">
                <div class="pagination">

                    {% if veterinarios.has_previous %}
                        <a href="?page={{ veterinarios.previous_page_number }}" class="page-btn">‹</a>
                    {% endif %}

                    <span class="page-btn active">
                        {{ veterinarios.number }}
                    </span>

                    {% if veterinarios.has_next %}
                        <a href="?page={{ veterinarios.next_page_number }}" class="page-btn">›</a>
                    {% endif %}

                </div>
              
            </div>

        </div>
    </div>

    <!-- MODAL -->
    <div class="modal-overlay" id="modalNuevoUsuario">
        <div class="modal">
            <div class="modalHeader">
                <h2>Registrar Nuevo Usuario</h2>
                <button class="modal-close" id="btnCerrarModal">
                    <span class="material-symbols-outlined">close</span>
                </button>
            </div>

            <form id="formNuevoUsuario">
                {% csrf_token %}
                <div class="modal-body">

                </div>
            </form>

        </div>
    </div>

{% endblock %}